# The overall format is standard TOML format, v0.5.0.
# The name of the mod loader type to load - for regular FML @Mod mods it should be javafml
modLoader="javafml" #mandatory

# A version range to match for said mod loader - for regular FML @Mod it will be the forge version
loaderVersion="[28,)" #mandatory
issueTrackerURL="https://github.com/Sinhika/Fusion/issues"
logoFile="fusion.png"

[[mods]]
modId="fusion"
version="${version}"
displayName="Fusion"
updateJSONURL="https://raw.githubusercontent.com/Sinhika/Fusion/1.15/update.json"
displayURL="http://minecraft.curseforge.com/projects/fusion"
credits="Created by AleXndrTheGr8st, with help from Zot201. Maintained by Sinhika."
authors="AleXndrTheGr8st, Sinhika"
description='''
An add-on for SimpleOres that adds a unique alloying process.
'''
[[dependencies.fusion]] #optional
    modId="jei"
    mandatory=false
    versionRange="[1.14.4-6.0.0.27,)"
    ordering="BEFORE"
    side="BOTH"

[[dependencies.fusion]]
    modId="simpleores"
    mandatory=true
    versionRange="[1.14.4-2.0.9.0,)"
    ordering="NONE"
    side="BOTH"

[[dependencies.fusion]]
    modId="forge"
    mandatory=true
    versionRange="[28.2.4,)"
    ordering="NONE"
    side="BOTH"

[[dependencies.fusion]]
    modId="minecraft"
    mandatory=true
    versionRange="[1.14.4,]"
    ordering="NONE"
    side="BOTH"
